{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
</head>
<body>
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
        {% if user.is_authenticated %}
            Hello, {{user.username}}
            <a href="{% url 'user_logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class = "menu_items">
        {% for recipe in recipe_list %}
      <div class="menu_item">
        <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
        </h3>
        <img src ="{{ recipe.picture }}">
        <div>4.3 stars</div>
    </div>
    {% endfor %}
    </div>
    </div>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>
